.banner {
	width: 100%;
	background: url("../../../img/background.jpg") no-repeat scroll 0 0/100%
		100%;
	position: relative;
	height: 0;
    padding-bottom: 40%;
}

.circle {
	margin-left: 39%;
    padding-bottom: 22%;
    position: relative;
    width: 22%;
}

.circle img {
	border-radius: 1000px;
    height: 100%;
    position: absolute;
    width: 100%;
    margin-top: 133%;
}

.banner-gap {
	width: 100%;
	background: #f0f0f0;
	height: 0;
    padding-bottom: 11%;
}

@keyframes gradient-in{
	0%{opacity: 0;}
	50%{opacity: 0.5;}
	100%{opacity: 1;}
}

@keyframes gradient-out{
	0%{opacity: 1;}
	50%{opacity: 0.5;}
	100%{opacity: 0;}
}

.header-in{
	animation: gradient-in 1s 1 forwards;
}

.header-out{
	animation: gradient-out 1s 1 forwards;
}

.back-header {
	background: #ea0000;
    height: 50px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
    opacity: 0;
}

.header {
	background-color: transparent;
}

.content {
	padding: 0;
	background: #f0f0f0;
	margin-top: 0;
}

.content-body ul {
	background: #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	overflow: hidden;
}

.content-body li>div>a {
	display: block;
	width: auto;
}

.content-body ul>li {
	height: 45px;
	padding: 0 0 0 15px;
	overflow: hidden;
}

.content-body ul>li div {
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #e0e0e0;
}

.content-body ul>li:last-child div {
	border-bottom: 0;
}

.content-body ul>li div label {
	font-size: 16px;
	margin-left: 5px;
	color: #000000;
}

.content-body ul>li div span.fui-keyboard_arrow_right {
	position: absolute;
	right: 10px;
	/* float: right;
    margin-right: 10px; */
	color: #bebebe;
}

[class^="fui-"], [class*="fui-"] {
	color: #000000;
}

.fui-person:before {
	content: "\e7fd";
}

.fui-feedback::before, .fui-service::before {
	font-size: 18px;
}

.fui-exit::before {
	font-size: 18px;
}

.fui-exit {
	color: #ea0000;
}

.svs-phone {
	width: auto;
	color: #000000;
	float: right;
	line-height: 45px;
	margin-right: 15px;
}
