.header {
	min-height: 240px;
}

.left, .right {
	height: 50px;
}

.header-option {
	position: absolute;
	width: 100%;
	bottom: 20px;
}

.header-option>div {
	text-align: center;
}

.header-option>div:first-child {
	color: #ffffff;
	font-size: 26px;
	height: 50px;
	letter-spacing: 1px;
	line-height: 50px;
}

.circle-o {
	background-color: #03a9f4;
	border-radius: 60px;
	color: #ffffff;
	height: 120px;
	line-height: 120px;
	margin: 0 auto;
	width: 120px;
}

.content {
	padding: 0;
	padding: 240px 0 0;
}

.content>div:first-child {
	border-bottom: 1px solid #b6b6b6;
	color: #455a64;
	font-size: 16px;
	height: 40px;
	line-height: 30px;
	padding: 5px 15px;
}

.content li {
	color: #727272;
	font-size: 16px;
	font-weight: 400;
	min-height: 30px;
	letter-spacing: 0;
	padding: 0 15px;
}

.content>div:last-child {
	background: inherit;
	bottom: 0;
	color: #b6b6b6;
	font-size: 14px;
	height: 30px;
	position: fixed;
	text-align: center;
	width: 100%;
}