.content {
	padding: 50px 0 0;
	width: 100%;
}

.nav ul {
    background: #ffffff;
}

.nav ul li {
	border-bottom: 1px solid #e0e0e0;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
}
/* 
.nav-li div {
	display: inline-block;
} */
.nav-content {
	height: 100%;
	width: 25%;
	float: left;
	color: #9d9d9d;
}

.nav-detail {
	float: left;
	width: 75%;
	min-height: 40px;
	/* display: -webkit-inline-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical; */
}

.nav-detail input {
	color: #000000;
	font-size: 16px;
	/* margin: 10px 0; */
	background: transparent;
	border: medium none;
}

.add {
	background: #ffffff;
	border-top: 1px solid #e0e0e0;
	bottom: 0;
	height: 50px;
	left: 0;
	position: fixed;
	width: 100%;
	text-align: center;
}

.add button {
	background: #ea0000;
	border: 1px solid #ea0000;
	border-radius: 20px;
	color: #ffffff;
	font-size: 14px;
	height: 25px;
	margin: 12px 0 13px;
	padding: 0 25px;
}

.map-module {
	background: #ffffff;
    height: 100%;
    left: 0;
    padding-top: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}

.map {
	bottom: 0;
	height: 50%;
	left: 0;
	position: absolute;
	width: 100%;
}

.result-list {
    overflow: scroll;
}

#result-list li {
	border-bottom: 1px solid #e0e0e0;
    padding: 0 15px;
}

.poi-title {
    display: block;
    font-size: 14px;
    height: 20px;
}

.poi-address {
    display: block;
    font-size: 10px;
}

i.marker {
	background: url("../../../img/anchor.png") no-repeat scroll 0 0 / 100% 100%;
	bottom: 25%;
    left: 45%;
    position: absolute;
    width: 10%;
    z-index: 1;
    padding-bottom: 10%;
    height: 0;
}

i.marker-shadow {
	background: url("../../../img/anchor_shadow.png") no-repeat scroll 0 0 / 100% 100%;
	bottom: 25%;
    left: 45%;
    position: absolute;
    width: 10%;
    z-index: 0;
    padding-bottom: 10%;
    height: 0;
}

.shade {
    /* background: #000000;
    opacity: 0.1; */
    left: 0;
    position: absolute;
    top: 45px;
    width: 100%;
    text-align: center;
}

.progress {
    height: 50%;
    padding-top: 95px;
}