.content {
	padding: 0;
}

li.nav-li {
	background: #ffffff;
	height: 71px;
	border-bottom: 1px solid #e0e0e0;
}

@keyframes slide {
	from {right: 0px;}
	to {right: 60%;}
}

@keyframes slide2 {
	from {right: 60%;}
	to {right: 0px;}
}

.front {
	padding: 5px 15px 10px;
	position: absolute;
	z-index: 1;
	background: #ffffff;
	width: 100%;
	height: 70px;
}

.front.slide {
	animation: slide .5s 1 forwards;
}

.front.slide2 {
	animation: slide2 .5s 1 forwards;
}

.behind {
	position: absolute;
	z-index: 0;
	height: 70px;
	width: 100%;
}

.behind>ul {
	clear: both;
	height: 100%;
	overflow: hidden;
}

.behind ul>li {
	float: left;
	font-size: 16px;
	height: 100%;
	line-height: 71px;
	padding: 0 10px;
	text-align: center;
	width: 20%;
	color: #ffffff;
}

.ln-1 {
	font-size: 14px;
	height: 25px;
	line-height: 14px;
	font-family: "ºÚÌå";
}

.lb-left {
	font-weight: bold;
}

.lb-right {
	position: absolute;
	right: 15px;
}

.ln-2 {
	font-size: 12px;
	display: -webkit-inline-box;
	overflow: hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.default {
	color: #ea0000;
	font-size: 12px;
}

.add {
	background: #ffffff;
	border-top: 1px solid #e0e0e0;
	bottom: 0;
	height: 50px;
	left: 0;
	position: fixed;
	width: 100%;
	text-align: center;
}

.add button {
	background: #ea0000;
	border: 1px solid #ea0000;
	border-radius: 20px;
	color: #ffffff;
	font-size: 14px;
	height: 25px;
	margin: 12px 0 13px;
	padding: 0 25px;
}