.sale-panel {
	padding: 0;
	background: url(../../../img/letter.png) no-repeat 0 0;
	height: 250px;
}

.sale-panel .panel-body {
	padding-left: 45px;
}

.store-name {
	font-size: 22px;
	color: #666;
	margin-bottom: 45px;
}

.store-info li {
	margin-bottom: 10px;
}

.status-tag {
	position: absolute;
	background: url(../../../img/tag.jpg) no-repeat 0 0;
	width: 113px;
	height: 72px;
	right: 50px;
	bottom: 35px;
	color: #A09C9C;
}

.status-tag .status-info {
	display: block;
	-moz-transform: rotate(-10.5deg);
	-o-transform: rotate(-10.5deg);
	-webkit-transform: rotate(-10.5deg);
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9914, M12=-0.1305,
		M21=0.1305, M22=0.9914, SizingMethod='auto expand');
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Matrix(M11=0.9914,M12=-0.1305,M21=0.1305,M22=0.9914,SizingMethod='auto expand')";
	margin-top: 22px;
	font-size: 19px;
	font-weight: 600;
	text-align: center;
}

.status-tag.uncomplete {
	background-position: -112px 0;
	color: #E96666;
}

.productInfo-title {
	color: #F3091C;
	font-size: 18px;
	margin-top: 0;
}

.detail-table {
	width: 100%;
	margin-top: 25px;
	font-size: 12px;
}

.detail-table thead {
	border-bottom: 2px solid #DFDFDF;
}

.detail-table th {
	font-size: 14px;
	text-align: center;
	min-width: 100px;
	padding: 5px 0;
}

.detail-table tbody tr {
	height: 37px;
	border-bottom: 1px solid #ddd;
}

.detail-table td {
	padding: 15px;
	text-align: center;
}

.detail-table td.img-td {
	text-align: left;
	padding-left: 50px;
}

.detail-table td.img-td img {
	border: 2px solid #DAD7D7;
	margin-right: 5px;
	float: left;
}

.detail-table td.img-td span {
	display: block;
	height: 80px;
	padding-top: 27px;
}

.table-footer {
	text-align: right;
	padding: 15px 35px 10px 0;
}

.table-footer span {
	font-size: 20px;
	color: #F51616;
	margin: 0 5px;
}

.order {
	float: left;
	padding: 8px 20px;
	width: 400px;
}

.order span {
	color: #484848;
	margin-right: 10px;
}

.detail-table .tip {
	display: none;
	color: #F50808;
	padding-top: 4px;
}