#content-wrapper {
	float: left;
	width: 735px;
	left: 0;
	position: relative;
	height: auto;
	margin: 80px 0 0 15px;
}

#content-wrapper .panel {
	position: relative;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0 0 10px;
}

#content-wrapper .panel-body {
	margin: 0;
	border: 0;
}
/*========
trigger-tab
==========*/
#content-wrapper .panel-body .trigger-tab {
	border-bottom: 1px solid #dadada;
}

#content-wrapper .panel-body .trigger-tab ul li {
	display: inline-block;
	width: 150px;
	height: 50px;
	line-height: 50px;
	border-radius: 1px;
	text-align: center;
	cursor: pointer;
}

#content-wrapper .panel-body .trigger-tab ul li.active {
	border: 1px solid #dadada;
	border-top: 3px solid rgb(225, 54, 60);
	border-bottom: 0 none;
	position: relative;
	top: 5px;
	background-color: #fff;
}

#content-wrapper .panel-body .trigger-form-list {
	background-color: #fff;
	display: none;
	min-height: 100%;
}

.form-control {
	max-width: 300px;
}

.form-control:focus {
	border-color: #ECA6A6;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(238, 163, 163, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(238, 163, 163, 0.6);
}

.form-inline.basicInfo {
	padding: 0 20px;
}

.dateDiv .form-control[readonly] {
	cursor: pointer;
}

.form-group.block {
	display: block;
	margin: 16px 0;
}

.form-group span {
	display: inline-block;
	min-width: 60px;
}

.form-group textarea.remark {
	max-width: 500px;
}

.form-group select {
	background: rgba(0, 0, 0, 0) url("../../../img/arrow.png") no-repeat
		scroll right center;
	cursor: pointer;
	display: block;
	font-style: normal;
	-webkit-appearance: none;
	-moz-appearance: none;
}

/*=============================
form style(input&icon)
===============================*/
.btn-search i.icon-search {
	position: relative;
	left: -27px;
	cursor: pointer;
}

i.icon-search {
	background-image: url("../../../img/form_icon.png");
	display: inline-block;
	height: 20px;
	margin-right: 15px;
	position: relative;
	top: 6px;
	width: 20px;
}

i.icon-search {
	background-position: 21px -4px;
}

i.icon-clock {
	position: relative;
	display: inline-block;
	top: 6px;
	right: 0;
	width: 22px;
	height: 22px;
	margin-right: 15px;
	background: url("../../../img/form_icon.png") 42px -1px;
}

i.icon-calendar {
	position: relative;
	display: inline-block;
	top: 5px;
	right: 0;
	width: 21px;
	height: 23px;
	margin-right: 15px;
	background: url("../../../img/form_icon.png") 63px 0px;
}

#content-wrapper .panel-body .trigger-form-list .form-search {
	padding: 15px 0;
}

#content-wrapper .panel-body .trigger-form-list.active {
	display: block;
}

#content-wrapper .panel-body .trigger-form-list .jqGrid {
	min-height: 500px;
	overflow-x: auto;
}

.basicInfoDiv {
	border-bottom: 1px dashed #C7C4C4;
}

.basicInfoDiv p {
	display: inline;
}

/*=============================
jqGrid style start
==============================*/
.jqGrid {
	overflow-x: hidden;
	overflow-y: auto;
}

.jqGrid .ui-widget-content {
	background: none;
}
/*.jqGrid .ui-widget-content:hover{
	border-color: #ECA6A6;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238, 163, 163, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238, 163, 163, 0.6);
}*/
.ui-jqgrid a, .orange {
	color: #f60;
}

.ui-jqgrid-btable .jqgfirstrow td {
	padding: 0;
}

.ui-jqgrid-btable .ui-widget-content td {
	background: #ffffff;
	font-size: 12px;
	height: 36px;
	line-height: 150% !important;
	/* //border-left: #9f9f9f 1px solid !important; */
	padding: 3px 4px !important;
}

.ui-jqgrid-btable .ui-widget-content:nth-child(odd) td {
	background: #F7F7F7;
}

.ui-jqgrid-htable {
	border: 0 none;
	width: 100% !important;
}

.ui-jqgrid-btable {
	/* //	border-bottom: #9f9f9f 1px solid; */
	width: 100% !important;
}

.ui-jqgrid .table-bordered {
	border: 0 none;
}

.ui-jqgrid tr.ui-row-ltr td {
	border: 0 none;
	height: 36px;
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
}

.ui-jqgrid .ui-jqgrid-hbox {
	padding-right: 0;
}

.ui-jqgrid-htable thead th {
	/* //background: #E7EBEF url(../../../img/header.png) repeat-x 0 0; */
	border: 0 none;
	overflow: visible;
	padding-left: 10px;
	font-size: 13px;
	font-weight: 200;
	height: 25px;
	line-height: 25px;
	/*background: #f8f8f8;*/
	background: #fff;
}

.ui-jqgrid-htable thead th span {
	display: none;
}

.jqGrid .ui-jqgrid-bdiv {
	/* height: 380px !important; */
	/* border: 1px solid #ddd; */
	min-height: 380px;
	border: 0 none;
	background-color: #fff;
	overflow-x: hidden;
}

.ui-jqgrid .ui-jqgrid-htable th div {
	height: 23px;
	text-align: center;
	font-weight: bold;
}

.ui-jqgrid .ui-jqgrid-htable th {
	padding: 2px !important;
	height: 36px;
}

.ui-jqgrid .ui-jqgrid-pager {
	height: 34px;
	padding-right: 200px;
	background: #fff;
	border: 0 none;
	border-top: 0 none;
	margin-top: 50px !important;
}

.norecords {
	display: block;
	text-align: center;
	height: 300px;
	line-height: 300px;
	font-size: 16px;
}
/*=============================
jqGrid 分页复写
==============================*/
.jqGrid .ui-jqgrid .ui-jqgrid-pager span.ui-icon {
	background-image: url(../../../img/pagenation.png);
	width: 30px;
	height: 30px;
}

.jqGrid .ui-jqgrid .ui-jqgrid-pager span.ui-icon.ui-icon-seek-first,
	.jqGrid .ui-jqgrid .ui-jqgrid-pager span.ui-icon.ui-icon-seek-end {
	background-image: url(../../../img/pagnicon.png);
	width: 100px;
	height: 30px;
}

.jqGrid .ui-jqgrid .ui-jqgrid-pager .ui-state-disabled .ui-icon-seek-first
	{
	background-position: 0 -30px;
}

.jqGrid .ui-jqgrid .ui-jqgrid-pager .ui-state-disabled .ui-icon-seek-prev
	{
	background-position: 0 0;
}

.jqGrid .ui-jqgrid .ui-jqgrid-pager span.ui-icon-seek-next {
	background-position: -30px -30px;
}

.jqGrid .ui-jqgrid .ui-jqgrid-pager span.ui-icon-seek-prev {
	background-position: -30px 0;
}

.jqGrid .ui-jqgrid .ui-jqgrid-pager span.ui-icon-seek-first {
	background-position: -100px -30px;
}

.jqGrid .ui-jqgrid .ui-jqgrid-pager span.ui-icon-seek-end {
	background-position: -100px 0;
}

.jqGrid .ui-jqgrid .ui-jqgrid-pager span.ui-icon:hover {
	border: 0 none;
	border-radius: 4px;
}

.jqGrid .ui-jqgrid .ui-jqgrid-pager .ui-state-disabled .ui-icon-seek-end
	{
	background-position: 0 0;
}

.jqGrid .ui-jqgrid .ui-jqgrid-pager .ui-state-disabled .ui-icon-seek-next
	{
	background-position: 0 -30px;
}

.jqGrid .ui-jqgrid .ui-pg-selbox {
	background: rgba(0, 0, 0, 0) url("../../../img/arrow.png") no-repeat
		scroll right center;
	border: 1px solid #C9C6C6;
	border-color: #C9C6C6;
	cursor: pointer;
	display: block;
	font-style: normal;
	height: 30px;
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 0px;
	width: 42px;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

/*=============================
jqGrid style icon
==============================*/
i.icon_t {
	background-image: url("../../../img/table_icon.png");
	display: inline-block;
	height: 16px;
	margin: 0 10px;
	position: relative;
	top: 3px;
	width: 16px;
	cursor: pointer;
}

i.view {
	background-position: 0 0;
}

i.unview {
	background-position: -32px -16px;
}

i.add {
	background-position: 0 68px;
}

i.modify {
	background-position: 0 -32px;
}

i.delete {
	background-position: 0 32px;
}

i.set {
	background-position: 0 16px;
}

i.send {
	background-position: -16px -16px;
}

i.unsend {
	background-position: -16px 0;
}

i.house {
	background-position: -16px -32px;
}

i.shopping {
	background-position: -16px -52px;
}

i.personj {
	background-position: -32px 0;
}

i.personC {
	background-position: -16px -68px;
}

i.icon_oj, i.icon_of {
	display: inline-block;
	height: 26px;
	width: 26px;
	position: relative;
	margin: 0 27px;
}

i.icon_oj {
	background-image: url("../../../img/orderj.png");
}

i.icon_of {
	background-image: url("../../../img/orderf.png");
}
/*================================
   left slide part
================================*/
.slide {
	padding-top: 20px;
	letter-spacing: 0.5px;
}

.main-menu a {
	color: #fff;
	text-decoration: none;
	outline: none;
}

.slide h3 {
	color: #fff;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 40px;
	cursor: pointer;
	outline: none;
}

.slide div {
	background-color: #23232e;
	padding: 10 0 10 90px;
	height: auto !important;
}

.slide .icon_l {
	background-image: url("../../../img/left_icon.png");
	display: inline-block;
	height: 16px;
	margin-right: 15px;
	position: relative;
	top: 3px;
	width: 16px;
}

i.so {
	background-position: 0 0;
}

i.om {
	background-position: 0 -47px;
}

i.adm {
	background-position: 0 -96px;
}

i.ufb {
	background-position: 0 -144px;
}

i.nm {
	background-position: 0 160px;
}

i.mm {
	background-position: 0 -240px;
}

i.sa {
	background-position: 0 -287px;
}

i.br {
	background-position: 0 -336px;
}

i.gm {
	background-position: 86px 0;
}

i.aum {
	background-position: 86px -47px;
}

i.app {
	background-position: 86px -96px;
}

i.sys {
	background-position: 86px -144px;
}

/* left-active */
.slide h3.ui-accordion-header-active {
	background-color: #dc393d;
	color: #fff;
}

.ui-accordion-header-active i.so {
	background-position: 0 0;
}

.ui-accordion-header-active i.om {
	background-position: 0 -47px;
}

.ui-accordion-header-active i.adm {
	background-position: 0 -96px;
}

.ui-accordion-header-active i.ufb {
	background-position: 0 -144px;
}

.ui-accordion-header-active i.nm {
	background-position: 0 160px;
}

.ui-accordion-header-active i.mm {
	background-position: 0 -240px;
}

.ui-accordion-header-active i.sa {
	background-position: 0 -287px;
}

.ui-accordion-header-active i.br {
	background-position: 0 -336px;
}

.ui-accordion-header-active i.gm {
	background-position: 86px 0;
}

.ui-accordion-header-active i.aum {
	background-position: 86px -47px;
}

.ui-accordion-header-active i.app {
	background-position: 86px -96px;
}

.ui-accordion-header-active i.sys {
	background-position: 86px -144px;
}

.ui-accordion-header-active h3 {
	color: #fff;
}

.slide h3.ui-accordion-header-active {
	background-color: #ea569a;
}

.show {
	display: block
}

.hidden {
	display: none
}

.dateDiv {
	margin-bottom: 5px;
	font-size: 0;
	white-space: nowrap;
	display: inline-block;
}

.dateDiv input {
	display: inline-block;
	border-radius: 4px 0 0 4px;
	width: auto;
}

.dateDiv .add-on {
	display: inline-block;
	width: 34px;
	height: 34px;
	min-width: 16px;
	padding: 4px 5px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	background-color: #eee;
	border: 1px solid #C7CBCE;
	margin-left: -1px;
	vertical-align: top;
}

.dateDiv .add-on:last-child {
	border-radius: 0 4px 4px 0;
}

.dateDiv .add-on i {
	cursor: pointer;
	width: 14px;
	height: 14px;
}

.dateDiv [class^="icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("../../../img/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
}

.dateDiv .icon-remove {
	background-position: -312px 0;
}

.dateDiv .icon-calendar {
	background-position: -192px -120px;
}

.fileinput-button {
	position: relative;
	overflow: hidden;
	margin-right: 15px;
	min-width: 80px;
	display: inline-block;
}

.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}

/*=============================
address icon start
==============================*/
i.icon_addr {
	background-image: url("../../../img/address_icon.png");
	display: inline-block;
	height: 16px;
	margin-right: 10px;
	position: relative;
	top: 3px;
	width: 16px;
}

i.addr {
	background-position: 0 0;
}

i.phone {
	background-position: -16px 0;
}

i.ystar {
	background-position: -32px 0;
}

i.gstar {
	background-position: -48px 0;
}

i.contact {
	background-position: -64px 0;
}

i.icon_addrbig {
	background-image: url("../../../img/addrbig_icon.png");
	display: inline-block;
	height: 32px;
	margin-right: 10px;
	position: relative;
	top: 3px;
	width: 32px;
}

i.person {
	background-position: 0 0;
}

i.home {
	background-position: -30px 0;
}

i.bighome {
	background: url("../../../img/bighome.png") 0 0;
	display: inline-block;
	height: 40px;
	margin-right: 10px;
	position: relative;
	top: 3px;
	width: 40px;
}

i.addrbig {
	background: url("../../../img/addrbig.png") 1px 0;
	display: inline-block;
	height: 19px;
	margin-right: 10px;
	position: relative;
	top: 3px;
	width: 16px;
}

i.object {
	background-image: url("../../../img/check.png");
	display: inline-block;
	height: 36px;
	margin-right: 10px;
	position: relative;
	top: 3px;
	width: 91px;
}

i.check {
	background-position: 0 0;
}

i.uncheck {
	background-position: 0 -36px;
}

/*=============================
yt-panel start
==============================*/
.zc-panel h3.title {
	margin: 5px 0 5px 8px;
	font-size: 16px;
}

.zc-panel .panel-heading {
	padding: 0 0 10px 0;
}

.zc-panel .panel-body {
	overflow: hidden;
}

.zc-panel .panel-title {
	display: block;
	height: 30px;
	line-height: 30px;
}
/*========
图片删除遮盖
==========*/
.backup {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background-color: #000;
	padding: 10px;
}

.backup .btn-default {
	color: #eee;
	background: #000;
	padding: 5px 8px;
	font-size: 12px;
}

.backup .btn-default:hover {
	background: #333131;
	color: #FAF4F4;
}
/*消息 icon*/
i.icon_message {
	background: url("../../../img/message.png") no-repeat;
	display: inline-block;
	height: 16px;
	position: relative;
	width: 16px;
}

i.read {
	background-position: 0 0;
}

i.unread {
	background-position: 0 -16px;
}
/*============
popup 样式复写
==============*/
.error-modal {
	padding-top: 180px;
}

.error-modal .modal-content {
	border-radius: 0;
}

.error-modal .modal-title {
	line-height: 18px;
}

.error-modal .panel-title {
	text-align: center;
}

.error-modal .panel-title a:hover {
	text-decoration: none;
}

.error-modal .modal-footer {
	text-align: center;
	border: 0 none;
	margin-top: 0;
}

.error-modal .modal-footer .btn {
	min-width: 100px;
	margin: 0 25px;
}

.last-block.panel {
	box-shadow: none;
}

@media ( min-width : 768px) {
	.modal-lg.modal-dialog {
		width: 500px;
	}
}
/*============
radio checkbox样式
==============*/
.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.job-modal-body .panel-body i, .panel-body .preferences-items i,
	.panel-body :after, .panel-body :before {
	margin: 0;
	padding: 0;
}

.panel-body .label {
	display: block;
	margin-bottom: 6px;
	line-height: 19px;
	font-weight: 400;
	font-size: 13px;
	color: #333;
	text-align: left;
}

.panel-body .button, .panel-body .checkbox, .panel-body .input,
	.panel-body .radio, .panel-body .select, .panel-body .textarea,
	.panel-body .toggle {
	position: relative;
	font-weight: 400;
}

.panel-body .checkbox, .panel-body .radio {
	margin-bottom: 4px;
	padding-left: 25px;
	line-height: 25px;
	color: #000000;
	cursor: pointer;
	font-size: 13px;
}

.panel-body .button.state-disabled, .panel-body .checkbox.state-disabled,
	.panel-body .input.state-disabled input, .panel-body .radio.state-disabled,
	.panel-body .select.state-disabled, .panel-body .textarea.state-disabled,
	.panel-body .toggle.state-disabled {
	cursor: default !important;
	opacity: 0.6 !important;
}

.panel-body .state-disabled.checkbox input+i:after, .panel-body .state-disabled.checkbox input:checked+i,
	.panel-body .state-disabled.radio input+i:after, .panel-body .state-disabled.radio input:checked+i,
	.panel-body .state-disabled.toggle input:checked+i {
	border-color: #47A8C0 !important;
	color: #333 !important;
}

/*add*/
.panel-body .checkbox.checkbox-inline, .panel-body .radio.radio-inline {
	display: inline-block;
}

/*add*/
.panel-body .checkbox input, .panel-body .radio input {
	position: absolute;
	left: -9999px;
}

.panel-body .checkbox i, .panel-body .radio i {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 12px;
	height: 12px;
	border: 1px solid;
	background: #fff;
}

.panel-body .radio i {
	border-radius: 50%;
}

.panel-body .checkbox i, .panel-body .icon-append, .panel-body .icon-prepend,
	.panel-body .input input, .panel-body .radio i, .panel-body .select select,
	.panel-body .textarea textarea, .panel-body .toggle i {
	border-color: #adadad;
	transition: border-color .3s;
	-webkit-transition: border-color .3s;
}

.panel-body .checkbox input:checked+i, .panel-body .radio input:checked+i,
	.panel-body .toggle input:checked+i {
	border-color: #adadad;
}

.panel-body .checkbox input+i:after, .panel-body .radio input+i:after {
	position: absolute;
	opacity: 0;
	transition: opacity .1s;
	-webkit-transition: opacity .1s;
}

.panel-body .radio input+i:after {
	content: '';
	top: 2px;
	left: 2px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
}

.panel-body .radio input+i:after {
	background-color: #ca191e;
}

.panel-body .checkbox input:checked+i:after, .panel-body .radio input:checked+i:after
	{
	opacity: 1;
}

.panel-body .checkbox input+i:after {
	content: '\f00c';
	font: 400 13px/20px FontAwesome;
	height: 13px;
	left: 0px;
	text-align: center;
	top: -5px;
	width: 13px;
	color: #ca191e;
}