.content {
	padding: 50px 0 0;
	letter-spacing: 0.5px;
}

@keyframes gradient-in {
	from {top: 50px;
}

to {
	top: 0;
}

}
@keyframes gradient-out {
	from {top: 0;
}

to {
	top: 50px;
}

}
.clsy-in {
	animation: gradient-in .5s 1 forwards;
}

.clsy-out {
	animation: gradient-out .5s 1 forwards;
}

@keyframes header-in {
	from {top: 0;
}

to {
	top: -50px;
}

}
@keyframes header-out {
	from {top: -50px;
}

to {
	top: 0;
}

}
.header-in {
	animation: header-in .5s 1 forwards;
}

.header-out {
	animation: header-out .5s 1 forwards;
}

.content-clsy {
	background-color: #ffffff;
	border-bottom: 1px solid #e0e0e0;
	height: 40px;
	line-height: 40px;
	position: fixed;
	width: 100%;
	z-index: 299;
}

.content-clsy li {
	float: left;
	font-size: 16px;
	text-align: center;
	width: 25%;
	height: 40px;
}

.content-clsy li.active {
	border-bottom: 2px solid #ea0000;
	color: #ea0000;
}

.content-body {
	padding-top: 40px;
}

.content-body li {
	margin-bottom: 10px;
}

.li-title {
	background: #ffffff;
	font-size: 14px;
	height: 40px;
	padding: 3px 10px;
	border-bottom: 1px solid #e0e0e0;
	padding: 3px 10px;
}

.li-title>label {
	color: #ea0000;
	font-size: 14px;
	font-weight: 600;
}

.li-detail {
	/* background-color: #ffffff; */
	border-bottom: 1px solid #e0e0e0;
}

.li-d-1 {
	height: 70px;
	padding: 5px 10px;
}

.li-d-1>div, .li-d-1>img {
	display: inline-block;
	float: left;
}

.li-d-1>img.pic {
	height: 60px;
	width: 60px;
	background-color: #ffffff;
	/* border: 1px solid #e0e0e0; */
}

.li-d-1>div.con {
	height: 60px;
	color: #5b5b5b;
	font-size: 13px;
	margin-left: 10px;
	line-height: 20px;
	font-size: 13px;
	position: absolute;
}

.con-1 {
	display: -webkit-inline-box;
	overflow: hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.con-2, .con-3 div {
	display: -webkit-inline-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: block;
}

.con-3 {
	float: left;
	width: 80%;
	line-height: 15px;
}

.con-3 .ctg {
	font-size: 10px;
	color: #9d9d9d;
}

.con-4 {
	display: inline-block;
	float: right;
	width: 20%;
	text-align: right;
}

.li-d-2 {
	background-color: #ffffff;
	display: inline;
	font-size: 12px;
}

.li-options {
	background-color: #ffffff;
	border-bottom: 1px solid #e0e0e0;
	padding: 6px 10px;
	height: 45px;
}

.li-options button {
	background: #ffffff;
	border: 1px solid #d0d0d0;
	border-radius: 3px;
	width: 78px;
	padding: 3px 0;
	font-size: 14px;
	float: right;
	margin-left: 10px;
}

.li-options button.highlight {
	border: 1px solid #ea0000;
	color: #ea0000;
}

.d-t {
	color: #5b5b5b;
	display: block;
	font-size: 14px;
	text-align: center;
}


.li-options > div.more {
    background-color: #ffffff;
    height: 50px;
    position: absolute;
    right: 130px;
    width: 120px;
    z-index: 0;
}

#btn-w {
    float: none;
    margin-left: 21px;
    margin-top: 11px;
}