.content {
	padding: 50px 0 0;
	letter-spacing: 0.5px;
}

.content-clsy {
	background-color: #ffffff;
	left: 0;
	position: fixed;
	top: 50px;
	width: 100%;
	height: 43px;
}

.content-clsy>ul {
	overflow: hidden;
	border-bottom: 1px solid #e0e0e0;
	height: 43px;
}

.content-body {
	padding-top: 43px;
}

.content-clsy li {
	display: block;
	float: left;
	font-size: 15px;
	height: 43px;
    line-height: 43px;
	text-align: center;
	width: 25%;
}

.content-clsy div {
	display: inline;
	padding-bottom: 10px;
}

.content-clsy div.active {
	border-bottom: 2px solid #ea0000;
}

.content-body li {
	margin-bottom: 10px;
}

.li-title {
	background: #ffffff;
	font-size: 14px;
	height: 40px;
	padding: 3px 10px;
	border-bottom: 1px solid #e0e0e0;
	padding: 3px 10px;
}

.li-title>label {
	color: #ea0000;
	font-size: 14px;
	font-weight: 400;
}

.li-detail {
	/* background-color: #ffffff; */
	border-bottom: 1px solid #e0e0e0;
}

.li-d-1 {
	height: 70px;
	padding: 5px 10px;
}

.li-d-1>div {
	display: inline-block;
	float: left;
}

.li-d-1>div.pic {
	height: 60px;
	width: 60px;
	border: 1px solid #e0e0e0;
}

.li-d-1>div.con {
	height: 60px;
	color: #5b5b5b;
	font-size: 13px;
	margin-left: 10px;
	line-height: 20px;
	font-size: 13px;
}

.con-1 {
	display: -webkit-inline-box;
	overflow: hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.con-2, .con-3 div {
	display: -webkit-inline-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.con-3 {
	float: left;
	width: 75%;
	line-height: 15px;
}

.con-3 .ctg {
	font-size: 10px;
	color: #9d9d9d;
}

.con-4 {
	display: inline-block;
	float: right;
	width: 20%;
	text-align: right;
}

.li-d-2 {
	background-color: #ffffff;
	display: inline;
	font-size: 12px;
}

.li-options {
	background-color: #ffffff;
	border-bottom: 1px solid #e0e0e0;
	padding: 6px 10px;
	height: 45px;
}

.li-options button {
	background: #ffffff;
	border: 1px solid #d0d0d0;
	border-radius: 3px;
	width: 78px;
	padding: 3px 0;
	font-size: 14px;
	float: right;
	margin-left: 10px;
}

.li-options button.highlight {
	border: 1px solid #ea0000;
	color: #ea0000;
}