.content {
	padding: 50px 0 0;
}

.content-title {
	width: 100%;
}

.banner {
	position: relative;
	transform: translatez(0);
	height: auto !important;
	display: block !important;
	overflow: hidden;
	width: 100%;
	opacity: 1;
	transition: opacity .6s ease-in-out;
}

.banner ul {
	white-space: nowrap;
	overflow: auto;
	transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
	transition-duration: 0ms;
	transform: translate(0px, 0px) translateZ(0px);
	padding: 10px 0;
	-webkit-overflow-scrolling: touch;
}

.banner ul>li {
	display: inline-block;
	width: 90%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.banner-item {
	height: auto;
	width: auto;
	position: relative;
	margin: 0 0 0 10px;
}

.banner-item>a>img {
	width: 100%;
	border: 0 none;
}

.content-body .service>ul {
	overflow: hidden;
	padding: 10px;
}

.content-body .service>ul>li {
	float: left;
	width: 25%;
	text-align: center;
}

.service-clsfy {
	border-radius: 5000px;
	text-align: center;
	width: 60%;
	margin: 0 auto;
	background-size: 100% 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
}

/* Start 颜色控制 */
.service-title.red>label {
	border-left: 4px solid #ea0000;
}
/* End of red */
.service-title.blue>label {
	border-left: 4px solid #46a3ff;
}
/* End of blue */
.service-title.green>label {
	border-left: 4px solid #02df82;
}
/* End of green */
.service-title.pink>label {
	border-left: 4px solid #ff79bc;
}
/* End of pink */
.service-title.yellow>label {
	border-left: 4px solid #ff5809;
}
/* End of yellow */
.service-title.purple>label {
	border-left: 4px solid #ae57a4;
}
/* End of purple */
.service-title.cyan>label {
	border-left: 4px solid #4f9d9d;
}
/* End of cyan  */
/* End 颜色控制 */
.service {
	background: #ffffff;
}

.service label {
	font-size: 14px;
}

.service-title {
	padding: 0 10px;
	border-bottom: 1px solid #e0e0e0;
}

.service-title>label {
	padding-left: 10px;
	line-height: 40px;
	font-size: 16px;
}

.fui-dasao:before {
	content: "\e69a";
	font-size: 32px;
}

.fui-chuanghu:before {
	content: "\e68a";
	font-size: 30px;
}

.fui-chufang:before {
	content: "\e69b";
	font-size: 32px;
}

.fui-qingjieji:before {
	content: "\f0087";
	font-size: 36px;
	line-height: 1.8;
}

.fui-house:before {
	content: "\e686";
	font-size: 32px;
}

.fui-mugong:before {
	content: "\e682";
	font-size: 32px;
}

.fui-shuini:before {
	content: "\e689";
	font-size: 32px;
}

.fui-chatou:before {
	content: "\e69e";
	font-size: 32px;
}

.fui-kaoxiang:before {
	content: "\ec83";
	font-size: 32px;
	line-height: 1.2;
}

.fui-shuilongtou:before {
	content: "\e677";
	font-size: 32px;
}

.fui-zaotai:before {
	content: "\e678";
	font-size: 48px;
	line-height: 1;
}

.fui-weibolu:before {
	content: "\e67b";
	font-size: 42px;
	line-height: 1;
}

.fui-bingxiang:before {
	content: "\e67e";
	font-size: 34px;
	line-height: 1.5;
}

.fui-youqi:before {
	content: "\e67d";
	font-size: 32px;
}

.fui-youyanji:before {
	content: "\e688";
	font-size: 32px;
}

.fui-kongtiao2:before {
	content: "\e68c";
	font-size: 32px;
}

.fui-xiyiji2:before {
	content: "\e6a0";
	font-size: 32px;
	line-height: 1.5;
}

.fui-xiaoduji:before {
	content: "\e695";
	font-size: 38px;
	line-height: 1.3;
}

.fui-kaoxiang2:before {
	content: "\e696";
	font-size: 32px;
}

.fui-yingshuiji:before {
	content: "\e6c7";
	font-size: 32px;
}

.fui-banjia:before {
	content: "\e687";
	font-size: 32px;
}

.fui-banchang:before {
	content: "\e6d8";
	font-size: 32px;
}

.fui-diaoche:before {
	content: "\e898";
	font-size: 32px;
}

.fui-shower2:before {
	content: "\e685";
	font-size: 32px;
}

.fui-ayi:before {
	content: "\e6dd";
	font-size: 32px;
}

.fui-ganxi:before {
	content: "\e67c";
	font-size: 30px;
}

.fui-sofa:before {
	content: "\e676";
	font-size: 32px;
}

.fui-diban:before {
	content: "\e694";
	font-size: 32px;
	line-height: 1.5;
}

.fui-jiaquan:before {
	content: "\e680";
	font-size: 30px;
	line-height: 1.5;
}

.fui-xiashuidao:before {
	content: "\e68f";
	font-size: 40px;
	line-height: 1.2;
}

.fui-matong:before {
	content: "\e68e";
	font-size: 32px;
}

.fui-yugang2:before {
	content: "\e697";
	font-size: 32px;
}