.content {
	margin-top: 0px;
	padding: 50px 0 0;
	background: #ffffff;
	height: 100%;
}

body{
	background: #ffffff;
}

.login-title {
	height: 25%;
	background: #ea0000;
}

.login-title .label {
	color: white;
	margin-left: 15px;
	margin-top: 20%;
	font-size: 20px;
	position: absolute;
}

.login-body {
	padding: 0 15px;
	height: 70%;
}

#pageone, #pagetwo {
    height: 75%;
}

.page {
	background: #ffffff;
}

.login-phone, .login-validcode {
	width: 100%;
	margin-top: 10px;
	height: 55px;
}

.login-body label {
	font-size: 12px;
	letter-spacing: 0.5px;
	color: #ffffff;
	position: absolute;
}

.login-phone .phone, .login-validcode .validcode {
	border-style: solid;
	border-width: 0 0 1px;
	border-color: #e0e0e0;
	width: 100%;
	height: 30px;
	font-size: 18px;
	letter-spacing: 0.5px;
	margin: 20px 0 0;
	color: #000000;
	border-radius: 0;
}

.login-phone .phone:focus {
	border-color: #ea0000;
	border-width: 0 0 2px;
}

.login-warn {
	color: #0072e3;
	font-size: 12px;
	margin: 0;
}

.login-remark,.login-remark a{
	color: #ea0000;
	font-size: 14px;
}

.login-validcode .validcode:focus {
	border-color: #ea0000;
	border-width: 0 0 2px;
}

button {
	background: #ea0000;
	border: 0 none;
	border-radius: 2px;
	color: #ffffff;
	height: 40px;
	width: 100px;
	float: right;
	font-size: 20px;
}

input[placeholder] {
	color: #7b7b7b;
}

@keyframes loading {
	0% {right:100%;}
	20%{right:80%;}
	40%{right:60%;}
	60%{right:40%;}
	80%{right:20%;}
	100% {right:0;}
}

@-webkit-keyframes loading {
	0% {right:100%;}
	20%{right:80%;}
	40%{right:60%;}
	60%{right:40%;}
	80%{right:20%;}
	100% {right:0;}
}
.progressbar.loading{
	-webkit-animation: loading 1s 1 linear;
	animation: loading 1s 1 linear;
}

.progressbar {
    background: #ce0000;
    height: 5px;
    position: absolute;
    width: 100%;
}

.logo, .company {
    text-align: center;
}

.logo img {
    width: 25%;
}

.company > img {
    width: 50%;
}