.content {
	padding: 50px 0 0;
}

.options {
	display: block;
	overflow: hidden;
}

.options>div {
	border-bottom: 1px solid #e0e0e0;
	display: inline-block;
	float: left;
	height: 60px;
	text-align: center;
	width: 50%;
	background: #ffffff;
	line-height: 60px;
	font-size: 16px;
	color: #5b5b5b;
}

.fui-coupon:before {
	content: "\e69f";
	color: #ea0000;
	margin-right: 5px;
}

.fui-gift:before {
	content: "\e909";
	color: #ea0000;
	margin-right: 5px;
}

.describe {
	display: block;
	font-size: 12px;
	letter-spacing: 0.5px;
	padding: 0 15px;
	line-height: 35px;
}

.describe>div {
	display: inline-block;
	height: 40px;
	line-height: 40px;
}

.fui-question-circle:before {
	content: "\e611";
	color: #0066cc;
	font-size: 12px;
	line-height: 35px;
	margin-right: 3px
}

.coupon li {
	padding: 0 10px;
	margin-bottom: 15px;
}

.div-coupon {
	background-color: #ffffff;
	background-image: url("../../../img/coupon.png");
	background-size: 100% auto;
	border-radius: 4px;
	height: 100px;
	width: 100%;
	background-position: 0 -2px;
}

.div-coupon>div {
	display: inline-block;
	float: left;
	height: 100px;
	font-size: 16px;
}

.price-1 {
	font-size: 46px;
	letter-spacing: 2px;
	font-weight: bold;
}

.price-2 {
	font-size: 30px;
}

.div-coupon ul {
	font-size: 12px;
	line-height: 18px;
	color: #7b7b7b;
}

.c-detail {
	background-image: url("../../../img/dotter.png");
	background-position: 0 10px;
	background-repeat: no-repeat;
	background-size: 100% 85%;
	width: 70%;
	padding: 10px 0 0 20px;
}

.c-detail>div {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.5px;
}

.c-detail li {
	list-style: inside none disc;
	padding-left: 0;
	margin-bottom: 0px;
}

.c-src {
	font-family: 'Yu Ghtic';
	width: 30%;
	color: #ea0000;
	letter-spacing: 6px;
	padding: 10px 0 0 10px;
}

.view-invalid {
	color: #5b5b5b;
	font-size: 14px;
	text-align: center;
	display: block;
}

.exchangeCoupon {
	background: #ffffff;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	padding-top: 50px;
}

.fui-arrow-left3:before {
	content: "\e900";
}

.fui-arrow-left3 {
	line-height: 50px;
	margin-left: 10px;
}

.exchangeCoupon .con {
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.exchangeCoupon input {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 16px;
    height: 40px;
    line-height: 20px;
    width: 100%;
    padding: 0 8px;
}

.exchangeCoupon button {
    background-color: #ea0000;
    border: 1px solid #ea0000;
    border-radius: 4px;
    color: #ffffff;
    height: 40px;
    margin-top: 10px;
    width: 95%;
    font-size: 18px;
}