body {
	background-color: #ffffff;
}

.content {
	padding: 50px 0 0;
	background-color: #ffffff;
}

.first-child>div {
	border-right: 1px solid #e0e0e0;
}

.q {
	background-color: #ea0000;
	color: #ffffff;
	display: inline-block;
	float: left;
	height: 100px;
	line-height: 100px;
	text-align: center;
	width: 50%;
}

.q span {
	margin-right: 5px;
}

.q>div {
	line-height: 25px;
}

.q label {
	color: #e0e0e0;
	line-height: 20px;
	font-size: 14px;
}

.fui-balance:before {
	content: "\e6a1";
}

.fui-bankcard:before {
	content: "\e6a2";
}

.content-title {
	background-color: #f0f0f0;
    color: #5b5b5b;
    font-size: 14px;
    padding: 5px 15px;
}

.deal-duration {
	background-color: #ffffff;
	padding: 10px 0;
}

.border {
	border: 1px solid #4f4f4f;
	border-radius: 4px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	margin: 0 15px;
}

.border>div {
	border-right: 1px solid #4f4f4f;
	float: left;
	font-size: 14px;
	text-align: center;
	width: 33.3%;
}

.border>div.active {
	background-color: #4f4f4f;
	color: #ffffff;
}

.deal-duration li {
	padding: 5px 15px 5px 0;
	overflow: hidden;
	margin-left: 15px;
	border-bottom: 1px solid #e0e0e0;
}

.deal-duration>ul>li:last-child {
	border-bottom: 0;
}

.d-left {
	display: inline-block;
	float: left;
	width: 70%;
}

.d-left>label {
	display: block;
	width: 100%;
}

.d-right {
	display: inline-block;
	float: left;
	width: 30%;
	text-align: right;
}

.d-right>label {
	display: block;
	width: 100%;
}

.d-balance {
	color: #5b5b5b;
	font-size: 14px;
	line-height: 10px;
}

.d-time {
	color: #5b5b5b;
	font-size: 14px;
	line-height: 30px;
}

.d-money {
	font-size: 14px;
	line-height: 25px;
}

.d-money.consume {
	color: #ff8000;
}

.d-money.deposit {
	color: #02c874;
}

.d-none{
	color: #5b5b5b;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
}