<configuration>
	<contextName>standard-code</contextName>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern> [%level] %d{yyyy-MM-dd HH:mm:ss,SSS} %logger{55} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- Application Loggers -->
	<logger name="com.zcckj" level="debug" />

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework" level="error" />
	<logger name="org.hibernate" level="error" />

	<root level="warn">
		<appender-ref ref="console" />
	</root>
</configuration>
